# compiled files
*.o
*.so
*.dll
*.exe
*.pyc
*.class

# IDEs
python/.idea

# compiled test app
cpp/libtest
c_wrapper/libtest

# csharp builds
csharp/MyLib/bin
csharp/MyLib/obj
csharp/LibTest/bin
csharp/LibTest/obj
